@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 60px;
}

h1{
    font-size: 40px;
}

a{
    color: white;
    text-decoration: none;
}

main{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
   
}

.p1{
    margin-bottom: 20px;
    background-color: bisque;
    padding: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align:left;
}

